<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.upperechelon.charter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Charter"
        android:theme="@style/AppTheme" >
        <activity
            android:name="info.upperechelon.charter.SectionListActivity"
            android:label="Canadian Charter of Rights" >
            <intent-filter android:label="Charter">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="info.upperechelon.charter.SectionDetailActivity"
            android:label="Canadian Charter of Rights"
            android:parentActivityName=".SectionListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SectionListActivity" />
        </activity>
    </application>

</manifest>
